*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #40c9ff, #e81cff);
    overflow: hidden;
}
.header-section{
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#cloud-icon-header{
    font-size: 16rem;
    color: #fff;
    transform: rotate(166deg);
    width: fit-content;
    position: fixed;
    z-index: 0;
    top: -58px;
    left: 15px;
}
#weatherify-logo{
    max-width: 150px;
    z-index: 1;
    flex: 0 1 40%;
}
.menu-bar-header{
    flex: 0 1 60%;
    display: flex;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.menu-bar-header a{
    margin: 10px;
    text-decoration: none;
    color: #fff;
}
.content-section{
    padding: 100px 0px;
}
#snowman-content{
    position: fixed;
    right: 10px;
}
#snowflakes-content{
    position: fixed;
    right: 10px;
    top: 20%;
}
.report-side{
    flex: 0 1 60%;
}
.search-side{
    flex: 0 1 40%;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 290px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.searchSide-btn{
    color: #fff;
    background-color: #48C7FD;
    border: none;
    border-radius: 10px;
    padding: .8rem;
    font-size: 1.1rem;
}
.searchSide-btn:active{
    border: none;
}
.searchSide-btn::selection{
    border: none;
}
.searchSide-btn::placeholder{
    color: #fff;
}